#gallery, #animation {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.image-item, .animation-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.image-item img, .animation-item img {
    width: 100%;
    height: auto;
}
